{% extends 'main/base.html' %}

{% block title %}
    The nothing's collection
{% endblock %}

{% block content %}
<div class="m1">
    <a href="{% url 'buybuybuy' %}" class="btnmainM buybuybtn" >Just buy it now!</a><br>
</div>

<div class="m2">
    <a href="{% url 'buybuybuy' %}" class="btnmainM buybuybtn buybuybtn1" >Just buy it now!</a><br>
</div>

<div class="m2 m3">
    <a href="{% url 'buybuybuy' %}" class="btnmainM buybuybtn buybuybtn1" >Just buy it now!</a><br>
</div>

<div class="m2 m4">
    <a href="{% url 'buybuybuy' %}" class="btnmainM buybuybtn buybuybtn1" >Just buy it now!</a><br>
</div>

<div class="m2 m5">
    <a href="{% url 'buybuybuy' %}" class="btnmainM buybuybtn buybuybtn1" >Just buy it now!</a><br>
</div>

<div class="m6">
    <a href="{% url 'buybuybuy' %}" class="btnmainM buybuybtn" >Just buy it now!</a><br>
</div>

<div class="m7">
    <a href="{% url 'buybuybuy' %}" class="btnmainM buybuybtn buybuybtn1" >Just buy it now!</a><br>
</div>

<div class="m7 m8">
    <a href="{% url 'buybuybuy' %}" class="btnmainM buybuybtn buybuybtn1" >Just buy it now!</a><br>
</div>

<div class="m7 m9">
    <a href="{% url 'buybuybuy' %}" class="btnmainM buybuybtn buybuybtn1" >Just buy it now!</a><br>
</div>

<div class="m7 m10">
    <a href="{% url 'buybuybuy' %}" class="btnmainM buybuybtn buybuybtn1" >Just buy it now!</a><br>
</div>

<div class="bottomall bottommain">
    <div class="job">
        Plz give me a job
    </div>
    <div class="job mail">
        E-mail: vladislav_erekeshov@mail.ru
</div>
{% endblock %}



