{% extends 'main/base.html' %}

{% block title %}
    The men's collection
{% endblock %}

{% block content %}
<div class="m1">
    <div class="m1pic"></div>
    <div class="m1text">A handful of nothing</div>
    <a href="{% url 'm1' %}" class="btnmainM" >Buy now</a><br>
</div>

<div class="m2">
    <div class="m2pic"></div>
    <div class="m2text1">A glass of</div>
    <div class="m2text1 m2text2">nothing</div>
    <a href="{% url 'm2' %}" class="btnmainM btnm2" >Buy now</a><br>
</div>

<div class="m2 m3">
    <div class="m2pic m3pic"></div>
    <div class="m2text1 m3text1">A baloon of</div>
    <div class="m2text1 m2text2 m3text2">nothing</div>
    <a href="{% url 'm3' %}" class="btnmainM btnm2 btnm3" >Buy now</a><br>
</div>

<div class="m2 m4">
    <div class="m2pic m4pic"></div>
    <div class="m2text1 m4text1">A bag of</div>
    <div class="m2text1 m2text2 m4text1 m4text2">nothing</div>
    <a href="{% url 'm4' %}" class="btnmainM btnm2 btnm4" >Buy now</a><br>
</div>

<div class="m2 m5">
    <div class="m2pic m5pic"></div>
    <div class="m2text1 m5text1">A suitcase of</div>
    <div class="m2text1 m5text2">nothing</div>
    <a href="{% url 'm5' %}" class="btnmainM btnm2 btnm5" >Buy now</a><br>
</div>

<div class="m6">
    <div class="m6pic"></div>
    <div class="m6text">A cistern of nothing</div>
    <a href="{% url 'm6' %}" class="btnmainM6" >Buy now</a><br>
</div>

<div class="m7">
    <div class="m7pic"></div>
    <div class="m7text">A truck of nothing</div>
    <a href="{% url 'm7' %}" class="btnmainM btnm7" >Buy now</a><br>
</div>

<div class="m7 m8">
    <div class="m7pic m8pic"></div>
    <div class="m7text">A plane of nothing</div>
    <a href="{% url 'm8' %}" class="btnmainM btnm7" >Buy now</a><br>
</div>

<div class="m7 m9">
    <div class="m7pic m9pic"></div>
    <div class="m7text">A tanker of nothing</div>
    <a href="{% url 'm9' %}" class="btnmainM btnm7" >Buy now</a><br>
</div>

<div class="m7 m10">
    <div class="m7pic m10pic"></div>
    <div class="m7text m10text">A pipeline of nothing</div>
    <a href="{% url 'm10' %}" class="btnmainM btnm7 btnm10" >Buy now</a><br>
</div>

<div class="bottomall bottommain">
    <div class="job">
        Plz give me a job
    </div>
    <div class="job mail">
        E-mail: vladislav_erekeshov@mail.ru
</div>
{% endblock %}