{% extends 'main/base.html' %}
{% load static %}

{% block title %}
    Log in
{% endblock %}

{% block content %}
    <div class="reg login">
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary btn-block">Log in</button>
    </form>
    </div>
    <div class="logreg">
        or <a class="btnreg" href="{% url 'registration' %}">register</a>
    </div>
    
    <div class="bottomall bottomproduct">
        <div class="job">
            Plz give me a job
        </div>
        <div class="job mail">
            E-mail: vladislav_erekeshov@mail.ru
    </div>
{% endblock %}