{% extends 'main/base.html' %}
{% load static %}

{% block title %}
    The women's collection
{% endblock %}

{% block content %}
<div class="m1">
    <div class="m1pic w1pic"></div>
    <div class="m1text w1text">A pan of nothing</div>
    <a href="{% url 'w1' %}" class="btnmainM" >Buy now</a><br>
</div>

<div class="m2">
    <div class="m2pic w2pic"></div>
    <div class="m2text1 w2text1">A handbag of</div>
    <div class="m2text1 m2text2 w2text2">nothing</div>
    <a href="{% url 'w2' %}" class="btnmainM btnm2 btnw2" >Buy now</a><br>
</div>

<div class="m2 m3">
    <div class="m2pic w3pic"></div>
    <div class="m2text1 m3text1">A wineglass of</div>
    <div class="m2text1 m2text2 w3text2">nothing</div>
    <a href="{% url 'w3' %}" class="btnmainM btnm2 btnw3" >Buy now</a><br>

</div>

<div class="m2 m4">
    <div class="m2pic w4pic"></div>
    <div class="m2text1 w4text1">A trolley of</div>
    <div class="m2text1 m2text2 w4text2">nothing</div>
    <a href="{% url 'w4' %}" class="btnmainM btnm2 btnw4" >Buy now</a><br>
</div>

<div class="m2 m5">
    <div class="m2pic w5pic"></div>
    <div class="m2text1 w5text1">A bottle of</div>
    <div class="m2text1 m2text2 w5text2">nothing</div>
    <a href="{% url 'w5' %}" class="btnmainM btnm2 btnw5" >Buy now</a><br>

</div>

<div class="m6">
    <div class="m6text w6text">Just nothing</div>
    <a href="{% url 'w6' %}" class="btnmainM6" >Buy now</a><br>
</div>

<div class="m7">
    <div class="m2pic w7pic"></div>
    <div class="m2text1 w7text">A capsule of nothing</div>
    <a href="{% url 'w7' %}" class="btnmainM6 btnm7" >Buy now</a><br>
</div>

<div class="m7 m8">
    <div class="m2pic w8pic"></div>
    <div class="m2text1">A tube of</div>
    <div class="m2text1 m2text2">nothing</div>
    <a href="{% url 'w8' %}" class="btnmainM btnm2" >Buy now</a><br>
</div>

<div class="m7 m9">
    <div class="m2pic w9pic"></div>
    <div class="m2text1 w9text">A big box of nothing</div>
    <a href="{% url 'w9' %}" class="btnmainM btnm2 btnw9" >Buy now</a><br>
</div>

<div class="m7 m10">
    <div class="m2pic w10pic"></div>
    <div class="m2text1 w9text w10text">A small box of nothing</div>
    <a href="{% url 'w10' %}" class="btnmainM btnm2 btnw9" >Buy now</a><br>
</div>

<div class="bottomall bottommain">
    <div class="job">
        Plz give me a job
    </div>
    <div class="job mail">
        E-mail: vladislav_erekeshov@mail.ru
</div>
{% endblock %}